.code-input-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.code-input-header {
  display: flex;
  gap: 1em;
  padding: 38px 0 12px;
  @media (max-width: 768px) {
    padding: 16px 0 1em;
    gap: 0;
  }
}

.code-input-header button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  background: transparent;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 8px 8px 6px;
  }
}

.code-input-header .toggle-button {
  @media (max-width: 768px) {
    flex: 1;
  }
}

.code-input-header .results-button {
  margin: 0 0 0 auto;
}

.code-input-header button:hover {
  background-color: var(--button-hover);
}

.code-input-header button svg {
  width: 26px;
  height: 26px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.code-editor-wrapper {
  flex: 1;
  overflow: hidden;
  background: var(--code-bg);
  border-radius: 58px;
  padding: 1.5em 0 1.5em 1em;
  margin: 0 2em 1em 0;

  @media (max-width: 768px) {
    min-height: 30dvh;
    margin-right: 1em;
    border-radius: 28px;
  }
}

.code-editor-wrapper .cm-scroller::-webkit-scrollbar {
  display: none;
}

.code-editor-wrapper .cm-scroller {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* CodeMirror customizations */
.code-editor-wrapper .cm-theme {
  height: 100%;
}
.code-editor-wrapper .cm-editor {
  height: 100%;
  font-family: "Fira Code", "Consolas", monospace;
  background-color: transparent;
}

.code-editor-wrapper .cm-gutters {
  background-color: var(--code-bg);
  border: 0;
}

.code-editor-wrapper .cm-activeLine,
.code-editor-wrapper .cm-activeLineGutter {
  background-color: var(--sheet-bg);
}

/* .code-editor-wrapper .cm-editor.cm-focused {
  outline: none;
}

.code-editor-wrapper .cm-lineNumbers {
  min-width: 3.5em;
}

.code-editor-wrapper .cm-content {
  padding: 0;
}

.code-editor-wrapper .cm-line {
  padding: 0 1rem;
} */

/* Placeholder text styling */
.code-editor-wrapper .cm-placeholder {
  font-size: 1em;
  opacity: 0.7;
  color: var(--placeholder-color, #888);
  display: inline-block;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}

.code-editor-wrapper .cm-content {
  flex: 1;
}
