.history-panel {
  background: var(--modal-bg);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 -2px 8px var(--shadow-color);
  height: 70dvh;
  overflow-y: auto;
  z-index: 9999;
  max-width: 600px;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: auto;
  padding: 0 0 2px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.history-item {
  display: flex;
  gap: 1em;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
}

.history-item:hover {
  background-color: var(--button-hover);
}

.history-item.current {
  background-color: var(--input-bg);
}

.history-item .timestamp {
  display: block;
  width: 68px;
  color: var(--text-color);
  font-size: 0.73em;
  margin: 4px;
  opacity: 0.7;
}

.history-item pre {
  margin: 0;
  white-space: pre-wrap;
  color: var(--text-color);
  font-family: "Consolas", "Monaco", monospace;
  font-size: 0.9em;
  background: var(--code-bg);
  padding: 4px;
  border-radius: 2px;
  text-align: left;
}
