.LongSheet-content {
  max-width: 600px;
}

.LongSheet-view {
  /* SELF-LAYOUT */
  z-index: 1;
  top: 0;
  bottom: initial;
  backdrop-filter: blur(5px);
  /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.LongSheet-scrollRoot {
  /* SELF-LAYOUT */
  width: 100%;
  height: 100%;
  align-content: flex-end;

  /* APPEARANCE */
  background-color: transparent;

  /* INTERACTIVITY */
  scroll-behavior: smooth;
}

.LongSheet-scrollContent {
  /* SELF-LAYOUT */
  height: auto;

  /* INNER-LAYOUT */
  display: grid;
  place-items: center;
}

.LongSheet-innerContent {
  /* SELF-LAYOUT */
  margin: 0;
  width: 100%;

  /* APPEARANCE */
  border-radius: var(--radius-7) var(--radius-7) 0 0;
  overflow: hidden;
  overflow: clip;
  background-color: white;
  box-shadow: var(--shadow-4);
}
@media (min-width: 800px) {
  .LongSheet-innerContent {
    /* SELF-LAYOUT */
    width: calc(100% - var(--size-10));
  }
}
